<% provide(:title, "About") %>
<h1>About</h1>
<p>
  A simple todo manager designed for CVWO assignment.<br> 
  Part of the code are direct copy from book Railstutorial written by Michael Hartl.<br>
  Thanks a lot to his great work! <br>
  MIT license applied.
</p>