<div class="center jumbotron">
  <h1>Welcome to my todo manager</h1>

  <h2>
    This is the home page for the
    todo manager.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="alert alert-warning">Disclaimer: In the open test period, your data may be removed anytime. The website owner is not responsible for any lose of data.</div>
